@import ~./src/theme/const
@import ~./src/theme/util
@import ~./src/theme/animations
  
.ArtPiece
  
  position: relative
  transition-duration: 200ms
  transition-property: filter, clip-path
  transition-timing-function: ease-in

  $gap: 0.4rem
  margin: $gap

  @for $c from 0 through 40
    &.cols-#{$c}
      width: calc(#{$c} * 2.5% - #{$gap} * 2)
      @media (min-width: 100rem)
        width: calc(#{$c} * 1.25% - #{$gap} * 2)
      @media (max-width: 40rem)
        width: calc(100% - #{$gap} * 2)

  > img
    transition-duration: 200ms  
    width: 100%
    height: 100%
    object-fit: cover
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)

  > label
    transition-duration: 1000ms
    opacity: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 2rem
    color: $clr-light
    @include outline($clr-dark)

  &:hover
    cursor: zoom-in
    > img
      filter: blur(0.3rem)
    > label
      opacity: 1
      pointer-events: none
      z-index: 1000

.art-modal
  @include fade-in(0.2s)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2000

  @media ( orientation: landscape )
    display: flex
    .img-holder
      width: 80vw 
    .description-holder
      width: 20vw
      font-size: calc(min(1.2rem, 3vh))

  @media ( orientation: portrait )
    .img-holder
      height: 70vh
    .description-holder
      height: 30vh
      font-size: calc(min(1.2rem, 2vh))

  .img-holder
    background-color: rgba(0, 0, 0, 0.8)
    cursor: zoom-out
    backdrop-filter: blur(0.2em)

    > img
      $m: 0.5rem
      margin: $m
      width: calc(100% - #{$m} * 2)
      height: calc(100% - #{$m} * 2)
      object-fit: contain

  .description-holder
    background-color: $clr-light
    padding: 1rem

    > h1
      text-align: center
    > p
      margin-top: 1rem
      text-align: justify
      text-justify: inter-word
