@import ~./src/theme/const

.ArtSection
  
  background-color: $clr-primary-100
  margin: auto
  width: 90%

  &:not(:last-child)
    margin-bottom: 2rem    

  .art-pieces-home
    padding: 0.5rem
    display: flex
    flex-wrap: wrap
    