@import ~./src/theme/const

.ArtSection
  
  position: relative
  background-color: $clr-light
  margin: auto
  width: 90%

  &:not(:last-child)
    margin-bottom: 2rem    

  .art-pieces-home
    padding: 0.5rem
    display: flex
    flex-wrap: wrap
    