// colors
$clr-primary-100: #eef
$clr-primary-300: #ccf
$clr-primary-500: #aae
$clr-primary-700: #88d
$clr-primary-900: #66c
$clr-secondary-100: #fef
$clr-secondary-300: #fcf
$clr-secondary-500: #eaf
$clr-secondary-700: #d8f
$clr-secondary-900: #c6f
$clr-neutral-100: #fff
$clr-neutral-300: #bbb
$clr-neutral-500: #888
$clr-neutral-700: #444
$clr-neutral-900: #000

// fonts
$fnt-regular: 'Roboto'
$fnt-fancy: 'Meow Script'