// colors
$_p_hue: 240
$_p_sat: 20
$clr-primary-100: hsl($_p_hue, $_p_sat, 90)
$clr-primary-300: hsl($_p_hue, $_p_sat, 85)
$clr-primary-500: hsl($_p_hue, $_p_sat, 80)
$clr-primary-700: hsl($_p_hue, $_p_sat, 70)
$clr-primary-900: hsl($_p_hue, $_p_sat, 60)
$_s_hue: 290
$_s_sat: 20
$clr-secondary-100: hsl($_s_hue, $_s_sat, 90)
$clr-secondary-300: hsl($_s_hue, $_s_sat, 85)
$clr-secondary-500: hsl($_s_hue, $_s_sat, 80)
$clr-secondary-700: hsl($_s_hue, $_s_sat, 75)
$clr-secondary-900: hsl($_s_hue, $_s_sat, 70)
$clr-neutral-100: #fff
$clr-neutral-300: #bbb
$clr-neutral-500: #888
$clr-neutral-700: #444
$clr-neutral-900: #000
