@import ~./src/theme/const

::-webkit-scrollbar 
  width: 1em

::-webkit-scrollbar-track
  background: #ccc

::-webkit-scrollbar-thumb 
  background: #999

::-webkit-scrollbar-thumb:hover 
  background: #111