@import ~./src/theme/const

::-webkit-scrollbar 
  width: 1em

::-webkit-scrollbar-track
  background: $clr-secondary-100

::-webkit-scrollbar-thumb 
  background: $clr-secondary-300

::-webkit-scrollbar-thumb:hover 
  background: $clr-secondary-500
