@import ~./src/theme/const

.Header
  background-image: linear-gradient(to top right, $clr-primary-300, $clr-secondary-300)
  height: auto
  padding: 1em
  font-size: 300%
  @media ( max-width: 45rem )
    font-size: 200%
  > *
    padding: 0.25em
    text-align: center
    color: $clr-neutral-100
    opacity: 0.8
    font-weight: lighter
  