@import ~./src/theme/const

.Footer
  background-color: $clr-dark
  height: auto
  display: flex
  justify-content: space-between

  > *
    height: 100%
    align-self: center
  
  @media ( max-width: 45rem ) 
    flex-direction: column

  @mixin active-contact-item()
    transition-duration: 200ms
    cursor: pointer
    &:hover
      opacity: 0.6
    &:active
      opacity: 0.4

  .icon-link-block
    > a.icon-link
      > img
        margin: 1rem
        height: 3rem
        filter: invert(1)
        @include active-contact-item()

  .email-block
    > label
      display: block
      margin: 0.5rem
      line-height: 4rem
      font-size: 2rem
      height: 4rem
      color: $clr-light
      @include active-contact-item()
