@import ~./src/theme/const

.Footer
  background-image: linear-gradient(to top right, $clr-primary-700, $clr-secondary-700)
  height: auto
  display: flex
  justify-content: space-between

  > *
    height: 100%
    align-self: center
  
  @media ( max-width: 45rem ) 
    flex-direction: column

  @mixin active-contact-item()
    mix-blend-mode: overlay
    transition-duration: 200ms
    cursor: pointer
    &:hover
      opacity: 0.5
    &:active
      opacity: 0.3

  .icon-link-block
    > a.icon-link
      > img
        margin: 0.5rem
        height: 4rem
        filter: invert(0.85)
        @include active-contact-item()

  .email-block
    > label
      display: block
      margin: 0.5rem
      line-height: 4rem
      font-size: 2rem
      height: 4rem
      color: $clr-neutral-100
      @include active-contact-item()
