@import ./theme/scrollbar
@import ./theme/highlight
@import ./theme/tooltip
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap')

*
  margin: 0
  font-family: 'PT Serif', serif

html, body 
  width: 100%
  height: 100vh
